.header-area {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.header-area .menu-items {
  text-transform: uppercase;
  color: black;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
}
